.enviar {
	background: orange;
	border-color: orange;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	margin-left: 30px;
	margin-top: 30px;
	padding: 40px;
	transition: 2s all;
}

.enviar:hover {
	background: blue;
	border-color: blue;
	transform: scale(1.2);
}

.enviar:active {
	background: darkorange;
	border-color: orange;
}