.menu-link {
	color: #000000;
	text-decoration: none;
	font-size: 24px;
	padding-left: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.menu-link:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}