.produto-preco {
    padding-left: 140px;
    margin-top: 20px;
    font-weight: bold;
}

.produto-preco-2 {
    padding-left: 700px;
    font-weight: bold;
}

.produto-preco-3 {
    padding-left: 700px;
    font-weight: bold;
}

.produto-preco-4 {
   padding-left: 150px;
   font-weight: bold;
}